
*{
    margin: 0;
    scroll-behavior: smooth;

}
/* GENERALITE */
:root{
    --color1:#7A7A7A;
    --color2:#000000;
    --color3:#FBEBEB;
    --color4:#EC4899;
    --color5: #FFFFFF;
}
#burgerMenu{
    display: none;
}
a, ::placeholder, textarea{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: var(--color1);
}
li{
    list-style: none;
}
p{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}
h1, h2, h3{
    font-family: "Prata",sans-serif;
}
h1{
font-weight: 400;
font-style: Regular;
font-size: 35px;
line-height: 35px;
vertical-align: middle;

}
h2{
font-weight: 400;
font-style: Regular;
font-size: 35px;
line-height: 35px;
vertical-align: middle;

}
h3{
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 20px;
vertical-align: middle;

}
button{
    color: var(--color1);
    background-color: var(--color2);
    padding: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
   justify-self: center;
   border: 1px solid;
   border-color: var(--color2);
}
button:hover{
    background-color: var(--color4);
    color: var(--color2);
    border-color: var(--color4);
}

/* HEADER */

header{
    max-width: 1920px;
    margin: auto;
    /* padding-top: 40px; */
    background-color: var(--color3);
    
    div{
        max-width: 1440px;
        margin: auto;
         padding: 20px;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
        gap: 80px;

        img{
            max-width: 292px;
            width: 100%;
            object-fit: cover;
          height: -webkit-fill-available;
    
        }
        nav ul{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding-top: 120px; 
        }
        .aheader{
         padding-top: 120px; 
        font-size: 15px;

        }
    }


    }
/* SECTION1 */
#section1{
    background-color: var(--color3);
    max-width: 1920px;
    margin: auto;
    padding-bottom: 40px;
    overflow-x: hidden;
    .divsec1{
        max-width: 1440px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
       padding: 20px;

        .div0{
          align-content: center;

          p{
            padding-top: 20px;
            padding-bottom: 20px;
          }
          a{
            color: var(--color2);
          }
        }
     
    
        .image{
            display: flex;
            gap: 10px;
                .image0{
                    padding-top: 60px;
                    max-width: 334px;
                   /* width: 100%; */
                    object-fit: cover;
                    height: 500px;
                }
                .image1{
                    padding-bottom: 60px;
                    max-width: 334px;
                   /* width: 100%; */
                    object-fit: cover;
                    height: 500px;

                }
            
    
        }
    }

}

/* SECTION2 */
#section2{
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-x: hidden;
    .artsec, h2{
        text-align: center;
        padding-top: 20px;

    }
        div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            text-align-last: center;
            padding-top: 40px;
            .artp, h3{
                text-align: center;
                padding-bottom: 20px;
            }
            article i{
                text-align: -webkit-center;
                font-size: 50px;
                color: var(--color4);
                padding-bottom: 20px;
            }
            
        }
    
}

/* SECTION3 */
#section3{
    max-width: 1920px;
    margin: auto;
    background-color: var(--color3);
      overflow-x: hidden;
    div{
        max-width: 1440px;
        margin: auto;
        padding-top: 70px;
        padding-bottom: 70px;
        h2, .artsec{
            text-align: center;
    
        }
        .divsec3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        padding: 20px;
        
        a{
            border-radius: 15px;
            border-color: var(--color3);
             box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 20%);
             background-color: var(--color5);
             h3{
                font-size: 20px;
                color: var(--color2);
                padding-bottom: 10px;
                padding-left: 10px;
                padding-top: 10px;
             }
             
             p{
                 
                 font-size: 14px;
                  color: var(--color2);
                  padding-bottom: 10px;
                padding-left: 10px;
             }

             }

        }

    }
    .div3img{
         width: 100%;
         object-fit: cover;
         height: 200px;
         border-top-left-radius: 15px;
         border-top-right-radius: 15px;
     }
    }

/* SECTION4 */
#section4{
    max-width: 1920px;
    margin: auto;
    overflow-x: hidden;
    .divsec4{
        max-width: 1140px;
        margin: auto;
        padding: 20px;
        padding-top: 80px;
        h2{
            font-size: 52px;
        }
        p{
            font-size: 16px;
        }
        h2, p{
            text-align: center;
            padding-bottom: 30px;
        }
        .imagesec4{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            padding-top: 40px;

            .image0{
                width:100%;
                object-fit: cover;
                height: 300px;
    
        }
        
        
        
        
        
    }
}
.formulaire{
    max-width: 1120px;
    margin: auto;
    padding-top: 40px;

    form{
        color: var(--color1);
        display: grid;
        max-width: 745px;
        margin: auto;
        padding: 20px;

        input,
        textarea{
            margin-bottom: 20px;
        }

        input{
            padding: 8px;
        }
    }
}
}
/* FOOTER */
/* FOOTER */
footer{
    background-color: var(--color3);

    div{
        max-width: 1440px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px;

        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}

/* RESPONSIVE */
@media screen and (max-width:1024px) {
.aheader{
    display: none;
}
.divsec3{
    padding:20px ;
}
}
/* RESPONSIVE */
@media screen and (max-width:768px) {
    body{
        header{

            div{
                display: flex;
                justify-content: space-between;
                gap: 20px;
            
                nav ul{
                    display: none;
                
                }
            #burgerMenu{
                    display: block;
            }
            .aheader{
                display: none;
            }
        }
        }
        main{
            #section1{
                .image1{
                    display: none;
                }
            }
            #section2{
                padding: 20px;
                div{
                    display: grid;
                    grid-template-columns: 1fr;
                }
                .artp,h3{
                    text-align: justify;

                }
            }
            #section3{
                .divsec3{
                    padding:20px ;
                    display: grid;
                    grid-template-columns: 1fr;
                }

            }
            }
            
        }
        
        #section4{
           .divsec4 .imagesec4{
                display: grid;
                grid-template-columns: 1fr;
            }
        }

        footer{
            div{
                display: grid;
              justify-content: center;
                ul{
                    display: grid;
                    padding-top: 20px;
                }
            }
        }
        
    }

